<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">            
        <title>Geoffrey Wong</title>
        <link rel="shortcut icon" href="images/favicon.ico" />        

        <link rel="stylesheet" href="styles.css">        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <script src="https://use.fontawesome.com/276e132718.js"></script>
    </head>
    <body>
        <header id="bioHeader">
            <div class="container">
                <div id="homeButton">
                    <a href="/"><b>Geoffrey</b></a>
                </div>
                <nav>
                    <ul>
                        <li><a class="active" href="bio">About</a></li>
                        <li><a href="resume.pdf" target="_blank">Resume</a></li>
                        <li><a href="experience">Experience</a></li>
                        <li><a href="contact">Contact</a></li>                        
                    </ul>
                </nav>
            </div>
        </header>
        <section id="bio">
            <div class="container">
                <img id="face" src="images/myface.jpg">
                <div id="info">
                    <p>My name is Geoffrey Wong. I am a junior studying Computer Science at Arizona State University. Outside of classes, I TA
                        for CSE 100: Principles of Programming with C++, am Vice President of both the ASU chess and Quizbowl club, and do research
                        for Meteor Studios at ASU.
                    </p>
                    <p>
                        My research topic is studying the energy efficiency of augmented-reality platforms. This involves characterizing beneficial tradeoffs
                        between performance and other factors such as speed, camera configurations, marker size, etc. I hope to lay groundwork so that future 
                        augmented-reality experiences feel more vibrant and immersive.
                    </p>
                    <p>
                        I am currently seeking an internship, so if you think I would be a good fit on your team, please reach out!
                    </p>
                </div>
            </div>
        </section>
    </body>
</html>