<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">            
        <title>Geoffrey Wong</title>

        <link rel="stylesheet" href="styles.css">        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        
        <script src="https://use.fontawesome.com/276e132718.js"></script>
    </head>
    <body>
        <header>
            <div class="container">
                <div id="homeButton">
                    <a href="index.html"><b>Geoffrey</b></a>
                </div>
                <nav>
                    <ul>
                        <li><a href="bio.html">About</a></li>
                        <li><a class="active" href="resume.html">Resume</a></li>
                        <li><a href="experience.html">Experience</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="container">
            <div id="resume">
                <div id="heading">
                    <p><b>Geoffrey Wong</b></p>
                    <p>2011 E. Brookwood Ct., Phoenix, Arizona</p>
                    <p>Phone: (602)-369-6335; Email: wonggh97@gmail.com</p>
                    <p>GitHub: www.github.com/GeoffreyHW</p>
                </div>
                <br>
                <div id="education">
                        <p><b>Education</b></p>
                        <p id="college">Arizona State University, Barrett Honors College</p>
                        <p id="gradDate">Graduation: May 2019</p>  						
                        <p id="major">B.S. Computer Science, CS GPA: 4.06</p>   
                </div>
                <div id="experience">
                    <p><b>Experience</b></p>
                    <p><i><b>Viasat</b>, Software Engineering Intern, May, 2017- August, 2017</i></p>
                    <ul>
                        <li>Automated generation of weekly reports that show the status of Jama customer requirements and Jira work tickets and display any differences from the previous week.</li>
                        <ul>
                            <li>Reduced generation time from hours a week to seconds with the ability to load reports at any time.</li>
                        </ul>
                        <li>Visualized Jama requirement relationships using D3 Tree API and linked each node to its associated Jama web page.</li>
                    </ul>
                    
                    <p><i>Undergraduate Researcher, November, 2016 – Present</i></p>
                    <ul>
                        <li>Studying the energy efficiency of various augmented reality frameworks and camera configurations.</li>
                        <li>Worked under Professor Robert LiKamWa to develop an augmented-reality storytelling Android app using Vuforia.</li>
                    </ul>	
                    
                    <p><i>Teaching Assistant (CSE 100, Principles of Programming with C++), Spring 2017, Fall 2017</i></p>
                    <ul>
                        <li>Facilitates weekly lab sessions to assist students with their C++ assignments, holds office hours for student questions, hosts exam review sessions, and proctors exams.</li>
                    </ul>	
                </div>
                <br>
                <div id="skills">
                    <p><b>Professional Skills</b></p>
                    <p><b>Languages:</b> Java, Python, C++, C, HTML/CSS</p>
                    <p><b>Technologies:</b> Flask, Git, GraphQL, Amazon DynamoDB, Bootstrap, Jinja, Vuforia</p>
                </div>
                <br>
                <div id="honors">
                    <p><b>Honors and Awards</b></p>
                    <ul>
                        <li>Hack Arizona 2017: Best UI/UX, Best Use of Amadeus APIs</li>
                        <ul>
                            <li>Designed and created the interface for a platform that suggests one-day schedules to users based on location and specified interests with data pulled from Yelp and Amadeus APIs.</li>
                        </ul>
                        <li>ASU Google Games Fall 2017: 1st place</li>
                        <ul>
                            <li>Placed 1st in Google’s team puzzle and problem solving competition hosted on campus.</li>
                        </ul>
                        <li>PayPal Opportunity Hack 2016: 2nd place</li>
                        <ul>
                            <li>Worked with the NPO, Hope for Hunger Food Bank, to develop a paperless solution for volunteers to sign in and have the data automatically exported into an Excel sheet.</li>
                        </ul>
                        <li>SoDA Code Challenge III: 3rd place</li>
                        <ul>
                            <li>Placed 3rd in the undergraduate section of ASU’s team algorithms competition.</li>
                        </ul>
                        <li>Ira A. Fulton UGES Dean’s List</li>
                        <li>New American University Scholar President’s Award</li>
                    </ul>
                </div>
                <br>
                <div id="extracurricular">
                    <p><b>Extracurricular Activities</b></p>
                    <ul>
                        <li>ASU Chess Club Vice President and Co-Founder: Coordinates with president to set time and place for weekly meetings, leads promotion events, and in charge of updating club news.</li>
                        <li>Quizbowl Vice President: Organizes weekly practices and moderates at monthly NAQT high school tournaments.</li>
                        <li>SoDA (Software Developers Association)</li>
                    </ul>
                </div>
                <div id="languages">
                    <p><b>Languages</b></p>
                    <p>Native English, Conversational Spanish, Conversational Chinese</p>
                </div>
            </div>
        </div>
    </body>
</html>